.container{
  display: flex;
  height: 90vh;
}

.rightcontainer{
  flex: 1;
  padding: 3px 8px;
  background: #ffffff;
  border-radius: 9px;
  border: 2px solid grey;
  overflow: auto;
}
.middlecontainer {
  flex: 4;
  padding: 3px 8px;
  background: #ffffff;
  border-radius: 9px;
  border: 2px solid grey;

  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 12px;
}

.top-section {
  flex: 0 0 65%;
  min-height: 0;   /* important for overflow */
  overflow: hidden; 
}

.bottom-section {
  flex: 0 0 35%;
  min-height: 0;
  overflow: auto;
  background: #ffffff;
  border-radius: 16px;
  padding: 16px;
}

.leftcontainer{
  flex: 1;
  padding: 3px 8px;
  background: #ffffff;
  border-radius: 9px;
  border: 2px solid grey;
}

.searchBar{
 display: flex;
 flex-direction: row;
 gap: 10px;
 align-items: center;
}
.listcontainer{
  text-align: center;
}
/* ///////////// mid section */
